@keyframes fadein
{
	from
	{
		opacity: 0;
	}

	to
	{
		opacity: 1;
	}
}

.container
{
	/* Disable text selection */
	-webkit-user-select: none;
	-webkit-app-region: drag;
	/* Smoother startup */
	animation: fadein 0.5s;
}

#fileUploadInput
{
	width: 95%;
	height: 95%;
	margin: auto;
}